<h1>About Vote!</h1>
<p>
<strong>Vote!</strong> was created by Alf Mikula to provide a
<%= link_to "Range Voting", "http://rangevoting.org" %> application for himself
and others to experiment with.  By running your own polls using Range Voting,
you can learn more about how Range Voting works, and get better results when
polling your friends and co-workers.  Try it out by
<%= link_to "starting your own poll", :controller => :polls, :action => :new %>
today!
</p>
